<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Goals</ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="Done">
      Done
    </ion-segment-button>
    <ion-segment-button value="Doing">
      Doing
    </ion-segment-button>
    <ion-segment-button value="ToDo">
      To do
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content padding parallax-header>
  <ion-slides #mySlider (ionSlideDidChange)="onSlideChanged($event)">
    <ion-slide *ngFor="let slide of slides">
      <ion-list [ngSwitch]="selectedSegment">
        <div *ngSwitchCase=slide.id>

          <div class="slide-in">
              <ion-list *ngFor="  let item of slide.list | async" >
                  <ion-item push-detail="DetailGoalPage">
                    <h2>{{item.name}}</h2>
                    <p>{{item.description}}.</p>
                  </ion-item>
               
                </ion-list>
          
          </div>
        </div>
      </ion-list>

      <i class="fas fa-chart-pie"></i>
    </ion-slide>
  </ion-slides>
  <ion-fab bottom center>
    <button ion-fab (click)="toAddPage()" >
      <ion-icon name="md-add"></ion-icon>
    </button>

  </ion-fab>
</ion-content>
