page-home {
    .swiper-pagination {
        @include text-align(center);
        @include transform(translate3d(0, 0, 0));
      
        position: absolute;
        z-index: 5;
      
        transition: 100ms;
      
        pointer-events: none;
      }
      ion-spinner *{
        width: 28px;
        height: 28px;
        stroke: #444;
        fill: #222;
      }

      .ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }

      segment-md segment-button{
       // color: #fff !important;
        //background-color: #488aff !important;
        opacity:0.85 !important;
        
        segment-activated {
           //border-bottom-color:#222 !important;
        }
       }

       ion-scroll {
        width: 100%;
        height: 100%;
      }
    
      ion-slides {
        height: auto !important;
      }
    
}
