page-settings {

    .item-divider-md{
        font-size: 1.2rem;
        font-style: initial !important;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 0ch;
        border-bottom: 1px solid #6466d6;
        border-bottom-width: px;
        border-bottom-style:solid;
        border-bottom-color:norgb(14, 19, 19) !important;
     
    }
    .item-md-light{
       
            background-color:#fff;
        
    }
}
