<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categories</ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="incomes">
      Incomes
    </ion-segment-button>
    <ion-segment-button value="expenses">
      expenses
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content parallax-header>
  <ion-slides #mySlider (ionSlideDidChange)="onSlideChanged($event)">
    <ion-slide *ngFor="let slide of slides">
      <ion-list [ngSwitch]="selectedSegment">
        <div *ngSwitchCase=slide.id>

          <ion-card>
            <ion-card-header>
              {{slide.id}}
            </ion-card-header>
            <ion-card-content>
              <canvas id="doughnutsIncome-chart" style="display:block"></canvas>
              
            </ion-card-content>
          </ion-card>

          <div class="slide-in">
            <ion-card *ngFor="  let item of slide.list | async">

              <div class="row ">
                <div class=" col-2  circle" ng-style="border-color: item ">{{item.name.charAt(0)}} </div>

                <div class="col col-4 items" text-left>{{item.name}}</div>
                <div class="col col-10 items" text-center>{{item.amount}} $</div>
                <div class="col  more" text-right >
                   <ion-icon name="md-more" (click)="presentPopover($event,item)"> </ion-icon>
                </div>
              </div>

            </ion-card>
          </div>
        </div>
      </ion-list>

      <i class="fas fa-chart-pie"></i>
    </ion-slide>
  </ion-slides>
  <ion-fab bottom right>
    <button ion-fab>
      <ion-icon name="md-create"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="toAddIncome()">

        <ion-icon name="md-add"></ion-icon>
      </button>
      <button ion-fab (click)="toAddExpenses()">
        <ion-icon name="md-remove"></ion-icon>
      </button>
    </ion-fab-list>

  </ion-fab>
</ion-content>
