page-budget {

    ion-label{
        font-size: 20px;
    }
    h2,h3{
        font-size: 16px !important  ;
    }
    .row {
        height: 80px !important;
        font-variant-position: initial;
        font-size: 18px;
        position: initial;
        padding: 5px;
      }
}
